*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* reauseablity code */
/* :root{
    --heading:rgb(0 10 45);
    --para:#777;
    --para-tint:#e4e4e4;
    --white:#fff;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249 249 255);
    --gradient:linear-gradient(0deg,rgb(132 144 255) 0%,rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg rgb(60, 78, 237) 0%,rgb(98 189 252) 100% );
    --shadow:0px 0px 20px 0px rgb(132 144 255 / 20%);

} */

/* rootFile */
:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --white:#fff;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --icons-bg:rgba(144,172,209,0.2);
}

/*  */
html{
    font-size: 60%;
}
h1, h2 ,h3,h4{
    font-family:arial;
}
h1{
    color:var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}
p{
    color:var(--para);
    line-height: 1.6rem;
   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* header section */
.header{
  padding: 4.8rem;
  height: 8rem; 
  background-color: var(--bg); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
   height: 3rem; 
   background-color: var(--bg);
}
.navBar-lists{
    display: flex;
    gap: 4.8rem;
}
.navBar-links:link,
.navBar-links:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight:550 ;
    text-transform:uppercase ;
    color: var(--para);
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s linear;
}
.navBar-links:hover,
.navBar-links:active{
    color: var(--helper);
}

/* ==================================
  resusable code
====================================*/
 .section{
    padding: 9rem 0;
 }
 .container{
    max-width: 140rem;
    margin: 0 auto;
 }
 .grid{
    display: grid;
    gap:9rem ;
 }
 .grid-two-column{
    grid-template-columns: repeat(2, 1fr);
 }
  .grid-three-column{
    grid-template-columns: repeat(3, 1fr);
 }
  .grid-four-column{
    grid-template-columns: repeat(4, 1fr);
 }
 .btn{
    background:var(--helper);
    padding: 1.7rem 3.5rem;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 650;
    transition: all 0.3sec ease;
    -webkit-transition: all 0.3sec ease 0s;
    -moz-transition: all 0.3s ease 0s;

 }
 .btn:hover,.btn:active{
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 20%);
 }

 .common-heading{
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 5.2rem;
    text-transform: capitalize;
    position: relative;
 }
 .common-heading::before{
    content: "";
    position:absolute ;
    top:110%;
    bottom: 0;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--helper);
    border-radius: 50%;
 }
 .common-heading::after{
    content: "";
    position: absolute;
    top: 118%;
    left: 1.4rem;
    height: 0.3rem;
    min-width:20rem ;
    background-color: var(--helper);

 }


/* ==================================
  hero sections style here
====================================*/
.section-hero{
    background-color: var(--bg);
}
.section-hero-data{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.hero-top-data{
    text-transform: uppercase;
    font-weight: 450;
    font-size: 1.3rem;
    color: var(--helper);
}
.hero-heading{
    text-transform: uppercase;
    font-weight: 650;
    font-size: 4.2rem;
}
.hero-para{
    margin-top: 1.5rem;
    margin-bottom:5rem;
    max-width: 60rem;
}
.hero-img{
    max-width: 80%;
}
.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===========bio-section start here===== */
.bio-image img{
     width: 80%;
     box-shadow: -2rem -2rem 0 0 var(--helper);
     display: inline-block;
}
.bio-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-data-stats{
    display: flex;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    flex-direction: column;
    gap: 3rem;
}
.bio-stats h3{
    margin-bottom: 1.2rem;
}

.bio-progress-bar{
   width: 90%;
   height: 0.7rem;
   background-color: var(--para-tint);
   border-radius: 10rem;
   box-shadow: var(--shadow);
   position: relative;
}
.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    height:inherit ;
    background-color: navy;
    border-radius: 10rem;


}
.bio-progress-1::before{
    width: 90%;
}
.bio-progress-2::before{
    width: 80%;
}
.bio-progress-3::before{
    width: 75%;
}
.bio-progress-4::before{
    width: 66%;
}
.bio-progress-bar span{
    position: absolute;
    top: 1.7rem;
    width: 4rem;
    height: 2rem;
    background-color: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
}
.bio-progress-bar span{
    left: 76%;
}
.bio-progress-1 span{
    left: 86%;
}
.bio-progress-2 span{
    left: 76%;
}
.bio-progress-3 span{ 
    left: 71%;
}
.bio-progress-4 span{ 
    left: 62%;
}

/* to creat a caret */

.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color:var(--helper) ;
    top: -1.6rem;

}


/* ======================
-------portfolio section----
=================
*/
.section-portfolio{
    background-color: var(--bg);
    transition: all 0.7s linear;
}
.section-portfolio p{
    max-width: 60rem;
}
.p-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    margin: 6.5rem 0;
}
.portfolio-images{
    gap: 3.6rem;

}
.portfolio-images img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.img-overlay{
    position: relative;
    overflow: hidden;
}
.img-overlay .overlay{
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     border-radius: 7px;
    background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
 
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
  transition: all 0.3s linear;
  opacity: 0;
    color: var(--third);

}

/* .img-ovelay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
    opacity: 0;
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;

} */


.img-overlay:hover > .overlay{
    transform: translateY(0);
    opacity: 0.7;
    cursor: pointer;
}

.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
    /* font-size:1.5rem ; */

}
/* .p-btn:hover{
     transform: translateY(-1rem);
} */
.p-btn-active{
    transform: translateY(-1rem);
}
.p-img-not-active{
    display: none;
}

/* ---------------this is for section work data--------------- */
.section-work-data{
        background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
 transition: all 0.6s linear;
 color: var(--white);
 
  text-align: center;
}
.counter-number{
    font-size: 4.1rem;
}
.section-work-data p{
    color: var(--white);
    text-transform: capitalize;
}

/* ----------our services section start here---- */

.section-services{
    transition: all 0.7s linear;
}
.section-services p{
    max-width: 60rem;
}
.section-services h3{
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
    text-transform: capitalize;
}
.section-services .grid{
         row-gap: 10rem;
         margin-top: 10rem;
}
.service-box{
    text-align: center;
    box-shadow: var(--shadpw);
    border-radius: 0.5rem;
    padding: 6.4rem 3.4rem;
    transition: all 0.4s linear;

}
.service-box:hover,.service-box:active{
    transform: translateY(-3.4rem);
}
.service-icon{
    width: 8rem;
    height: 8rem;
    background-color: var(--icons-bg);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70% ;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--heading);
    animation: Water-wave 3s linear  infinite ;
}
.service-icon::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70% ;
    border: 1px solid gray;
    background-color: transparent;
    animation: Water-wave 3s linear  infinite ;   
    width: 90%;
    height: 90%;

}
@keyframes Water-wave {
    0%{
        border-radius: 56% 44% 70% 30% / 30% 54% 46% 70% 
    }
    50%{
         border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%
    }
    100%{
         border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%
    }
}



/* swiper css */

 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #f5f2f2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 8rem;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* swiper message section  */

    .swiper-client-msg{
        padding: 2rem 4rem;
        background-color: var(--white);
        border-radius: .5rem;
        box-shadow: var(--shadpw);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }
    .swiper-client-msg p{
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: none;
    }
    .client-data-details p{
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
       padding-top: .9rem;
       color: rgb(13, 0, 0);
    }
    .swiper-client-data{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4.2rem;
        gap: 3.3rem;
    }
    .swiper-slide img{
        max-width: 10rem;
        height: 8rem;
        border-radius: 50%;
        border: .5rem solid gray;
    }
    .swiper-client-msg::before{
        content: "";
        position: absolute;
        bottom:-10rem ;
        left: 50%;
        border:5rem solid white;
        border-color: transparent;
        border-top-color: var(--helper-tint);
        transform: translateX(-50%);
    }
    .swiper-client-msg p::before{
        content: "\f10d";
        position: absolute;
        top: .5rem;
        left: 1rem;
        font-size: 3rem;
        font-family: "Font Awesome 6 Free";
        font-weight: 800;
        color: #ced3ff;

    }
     .swiper-client-msg p::after{
        content: "\f10e";
        position: absolute;
        bottom: .5rem;
        right: 2rem;
        font-size: 3rem;
        font-family: "Font Awesome 6 Free";
        font-weight: 800;
        color: #ced3ff;

    }